*{
	margin: 0; 
	padding: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	height: 100%; 
	width: 100%; 
	display: flex; 
	flex-direction: column; 
	overflow: hidden;
}
.user-container {
	background: #a9bdce ; 
	flex: 1; 
	display: flex; 
	justify-content: flex-start; 
	align-items: center; 
	padding: 0.8rem;
}
.user-container label {
	font-size: 14px; 
	margin-right: 1rem;
}
.user-container input {
	border-radius: 5px;
	border: none;
}
.display-container {
	flex: 12; 
	background: #b2c7d9; 
	overflow-y: scroll; 
}
.input-container {
	flex: 1; 
	display: flex; 
	justify-content: stretch; 
	align-items: center;
}
.input-container span { 
	align-items: center; 
	padding: 2rem;
}
.chatting-input { 
	font-size: 18px; 
}
.send-button {
	background: rgb(172, 169, 37); 
	border: none;border-radius: 4px; 
	padding: 15px 32px;
}
.chatting-list li {
	width: 90%;
	padding: 0.4rem;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top: 0.5rem;
}
.message {
	float: right;
	border-radius: 10px; 
	padding: 0.5rem;
	font-size: 23px; 
	background: #ffeb33;
}
.time {
	font-size: 12px;
	margin: 0 5px;}
.sent {
	flex-direction: row-reverse; 
	float: right;
}
.sent .message {
	background: #ffeb33;
}
.received .message {
	background: whitesmoke;
}




